.animate-container{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    background-color: #333;
}

.banner-text,.banner-text:after{
    position:relative;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:0;
}

#first{
    z-index:999;
    position: absolute;
    bottom:45%;
    left:0;
    width:100%;
    text-align:center;
    opacity: 0;
    animation: animate1 10s linear infinite 0s;
}
#mid{
    z-index:999;
    position: absolute;
    top:40%;
    left:0;
    width:100%;
    text-align:center;
}
#second{
    z-index:999;
    position: absolute;
    top:52%;
    left:0;
    width:100%;
    text-align:center;
    opacity: 0;
    animation: animate2 10s linear infinite 0s;
}

.banner-text li h3{
    text-transform: uppercase;
    padding: 0;
    line-height: 200px;;
    color:#fff;
    font-family: poppins;
    font-size: 3vmax;
}

#first h3{
    display: inline;
    padding: 12px;
    border-radius: 12px;
    background: blue;
    color:#fff;
}
#second h3{
    color: blue;
    display: inline;
    padding: 12px;
    border-radius: 12px;
    background-color: #fff;
}

@keyframes animate1{
    0%{
        opacity: 0;
        -webkit-transform: translateY(200px);
    }
    10%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
    33%{
        opacity:0;
    }
    37%{
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100%{
        opacity: 0;
    }

}
@keyframes animate2{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-200px);
    }
    10%{
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30%{
        opacity: 1;
        -webkit-transform: scale(1);
    }
    33%{
        opacity:0;
    }
    37%{
        opacity: 0;
        -webkit-transform: scale(10);
    }
    100%{
        opacity: 0;
    }

}

@media screen and (max-height:690px) and (max-width:475px) {
    #first{
        bottom:40%;
    }
}
@media screen and (max-height:450px) {
    #first{
        bottom:28%;
    }
}
@media screen and (max-height:400px) {
    #first{
        bottom:20%;
    }
}
@media screen and (max-height:300px) {
    #first{
        bottom:17%;
    }
}